<div class="container">
    <div ng-controller="templateCreateController">
        <div class="row">
            <div class="col-sm-12">
                <form name="templateCreateForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">名称</span></label>
                        <div class="col-sm-3">
                            <input name="name" uib-tooltip="{{getMessage('name',templateCreateForm.name.$error,validateMessages)}}"
                                   tooltip-trigger="none" tooltip-is-open="templateCreateForm.name.$invalid && templateCreateForm.name.$dirty"
                                   ng-model="createRequest.name" type="text" class="form-control input-sm" placeholder="名称" ng-maxlength="20" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">模板文件</span></label>
                        <div class="col-sm-3">
                            <div style="position: relative;width: 128px;height: 128px;overflow: hidden;">
                                <img style="position: absolute;top:0;right: 0;width: 128px;height: 128px;" ngf-src="templateControl.templateImage || '/client/business/template/unSelect.jpg'" alt="图标"  class="img-thumbnail"/>
                                <div class="label label-info" style="position: absolute;top:0;left: 0;">{{templateControl.templateName}}</div>
                                <input style="position: absolute;top:0;right: 0;opacity:0;font-size: 300px;cursor:pointer;" accept=".vm" ngf-select="templateControl.select($file);" ng-model="templateControl.templateFile" name="templateFile" type="file" placeholder="template" required/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="alert alert-danger" ng-show="templateCreateForm.templateFile.$invalid && templateCreateForm.templateFile.$dirty">
                                <div ng-show="templateCreateForm.templateFile.required">模板文件必须选择</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-4">
                            <button type="button" class="btn btn-warning btn-sm" location-back="/business/template/manage/{{createRequest.generatorId}}">取消</button>
                            <button type="button" ng-disabled="templateCreateForm.$invalid || templateCreateForm.$pristine" class="btn btn-primary btn-sm" ng-click="create()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
