<div class="container">
    <div ng-controller="userCreateController">
        <div class="row">
            <div class="col-sm-12">
                <form name="userCreateForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">用户名</span></label>
                        <div class="col-sm-3">
                            <input uib-tooltip="{{getMessage('userName',userCreateForm.userName.$error,validateMessages)}}"
                                    tooltip-trigger="none" tooltip-is-open="userCreateForm.userName.$invalid && userCreateForm.userName.$dirty"
                                    name="userName" ng-model="createRequest.userName" type="text" class="form-control input-sm" placeholder="用户名" ng-pattern="/^\w{4,20}$/" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">冻结</label>
                        <div class="col-sm-3">
                            <input name="isDisable" ng-model="createRequest.isDisable" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">开发者</label>
                        <div class="col-sm-3">
                            <input name="isDeveloper" ng-model="createRequest.isDeveloper" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-4">
                            <button type="button" class="btn btn-warning btn-sm" location-back="/business/user/manage">取消</button>
                            <button type="button" ng-disabled="userCreateForm.$invalid || userCreateForm.$pristine" class="btn btn-primary btn-sm" ng-click="create()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
