<div class="container">
    <div ng-controller="userUpdateController">
        <div class="row">
            <div class="col-sm-12">
                <form name="userUpdateForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">用户名</label>
                        <div class="col-sm-3 form-control-static">{{updateRequest.userName}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">冻结</label>
                        <div class="col-sm-3">
                            <input name="isDisable" ng-model="updateRequest.isDisable" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">开发者</label>
                        <div class="col-sm-3">
                            <input name="isDeveloper" ng-model="updateRequest.isDeveloper" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">重置密码</label>
                        <div class="col-sm-3">
                            <input name="isResetPassword" ng-model="updateRequest.isResetPassword" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-4">
                            <button type="button" class="btn btn-warning btn-sm" location-back="/business/user/manage">取消</button>
                            <button type="button" ng-disabled="userUpdateForm.$invalid || userUpdateForm.$pristine" class="btn btn-primary btn-sm" ng-click="update()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
