<div class="container">
    <div ng-controller="homeController">
        <div class="row">
            <div class="col-sm-8">
                <div class="page-header">
                    <h1 class="text-info"><strong>Welcome to BlackDream!</strong></h1>
                </div>
                <div class="page-header">
                    <div class="jumbotron">
                        <p><strong class="text-info">项目简介</strong>：<span class="text-info">BlackDream</span>是一款文件（一般指源代码文件）生成器构建框架，用于快速构建一款文件生成器来生成目标文件。</p>
                        <p><strong class="text-info">核心设计</strong>：多用户，多生成器，多实例。</p>
                        <p><strong class="text-info">快速构建</strong>：分分钟构建一款文件生成器。</p>
                        <p class="text-right"><a href="javascript:void(0);" location-go="/guide"><strong>快速指南</strong></a></p>
                    </div>
                </div>
                <div class="page-header">
                    <p class="text-primary"><a href="javascript:void(0);" ng-click="openAboutModal()"><strong>当前版本：1.0.0</strong></a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default" ng-if="!!generatorInstances.length">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="javascript:void(0);" location-go="/business/generatorInstance/manage"><strong>我的实例</strong></a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header" style="margin: 5px;" ng-repeat="generatorInstance in generatorInstances">
                            <a href="javascript:void(0);" location-go="/business/generatorInstance/detail/{{generatorInstance.id}}">
                                <strong class="{{generatorInstance.generator.isOpen ? 'text-info' : 'text-danger'}}">{{generatorInstance.name}}</strong>
                            </a>
                            <span class="pull-right">{{generatorInstance.modifyDateTip}}</span>
                        </div>
                        <button type="button" class="btn btn-link btn-sm" location-go="/business/generatorInstance/manage"><strong>更多</strong></button>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="!!generators.length">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="javascript:void(0);" location-go="/business/generator/manage"><strong>我的生成器</strong></a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header" style="margin: 5px;" ng-repeat="generator in generators">
                            <div style="width:100%;">
                                <a href="javascript:void(0);" location-go="/business/generator/detail/{{generator.id}}">
                                    <strong class="{{generator.isOpen ? 'text-info' : 'text-danger'}}">{{generator.name}}</strong>
                                </a>
                                <label class="badge pull-right">{{generator.instanceCount}}</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-link btn-sm" location-go="/business/generator/manage"><strong>更多</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>