<div class="container">
    <div ng-controller="generatorManageController">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-sm" location-go="/business/generator/create">新建生成器</button>
                        <button type="button" class="btn btn-success btn-sm" accept=".zip" ngf-select="import($file)">导入生成器</button>
                    </div>
                </form>
                <br/>
                <form class="form-inline">
                    <div class="form-group">
                        <input name="name" type="text" class="form-control input-sm" ng-model="searchRequest.name" placeholder="名称"/>
                    </div>
                    <div class="form-group">
                        <select name="status" ng-model="searchRequest.isOpen" ng-options="status.isOpen as status.name for status in statuses" class="form-control input-sm" required>
                            <option value="">--状态--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" ng-click="searchRequest.page=1;search();">搜索</button>
                    </div>
                </form>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr class="active">
                        <th width="30">#</th>
                        <th width="150">ID</th>
                        <th width="200">名称</th>
                        <th width="100">状态</th>
                        <th width="100">实例量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="generator in pagerResult.records track by $index">
                        <th>{{$index + 1}}</th>
                        <td>{{generator.id}}</td>
                        <td>{{generator.name}}</td>
                        <td>{{generator.isOpen ? "发布" : "维护"}}</td>
                        <td>{{generator.instanceCount}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm" location-go="/business/dynamicModel/manage/{{generator.id}}">数据模型管理</button>
                                <button type="button" class="btn btn-info btn-sm" location-go="/business/template/manage/{{generator.id}}">模板文件管理</button>
                                <button type="button" class="btn btn-info btn-sm" location-go="/business/templateStrategy/manage/{{generator.id}}">生成策略管理</button>
                                <button type="button" class="btn btn-success btn-sm" location-go="/business/generatorInstance/create/{{generator.id}}">新建实例</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm" location-go="/business/generator/detail/{{generator.id}}">详情</button>
                                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" location-go="/business/generator/update/{{generator.id}}">修改</a></li>
                                    <li><a href="javascript:void(0);" ng-click="export(generator)">导出</a></li>
                                    <li ng-class="{'disabled':generator.isOpen}"><a href="javascript:void(0);" ng-click="open(generator)">发布</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li ng-class="{'disabled':generator.isApplied}"><a href="javascript:void(0);" ng-click="delete(generator)">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="pull-left">
                <ul class="pagination pagination-sm">
                    <li ng-class="{'active': searchRequest.pageSize==pageSize}" ng-repeat="pageSize in [10, 20, 50]" ><a href="javascript:void(0);" ng-click="(searchRequest.pageSize!=pageSize)&&(searchRequest.pageSize=pageSize)&&(searchRequest.page=1)&&search();">{{pageSize}}</a></li>
                </ul>
            </div>
            <div class="pull-left">
                &nbsp;
                <uib-pagination class="pagination-sm" boundary-links="true" rotate="false" max-size="10" total-items="pagerResult.total" ng-model="searchRequest.page" ng-change="search();" items-per-page="searchRequest.pageSize" first-text="首页" previous-text="上页" next-text="下页" last-text="尾页"></uib-pagination>
            </div>
            <div class="pull-left form-control-static clearfix">&nbsp;共&nbsp;{{pagerResult.total ? pagerResult.total : 0}}&nbsp;条</div>
        </div>
    </div>
</div>