<div class="container">
    <div ng-controller="generatorManageController">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm"location-go="/business/generator/create">新建生成器</button>
                    </div>
                </form>
                <br/>
                <form class="form-inline">
                    <div class="form-group">
                        <label>名称：</label>
                        <input name="name" type="text" class="form-control input-sm" ng-model="searchRequest.name" placeholder="名称"/>
                    </div>
                    <div class="form-group">
                        <label>状态：</label>
                        <select name="status" ng-model="searchRequest.isOpen" ng-options="status.isOpen as status.name for status in statuses" class="form-control input-sm" required>
                            <option value="">--选择--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="searchRequest.page=1;search();">搜索</button>
                    </div>
                </form>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr class="active">
                        <th width="25">#</th>
                        <th width="200">名称</th>
                        <th width="100">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="generator in pagerResult.records track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{generator.name}}</td>
                        <td>{{generator.isOpen ? "开放" : "私有";}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs" location-go="/business/generator/detail/{{generator.id}}">详情</button>
                                <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">详情</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="javascript:void(0);" location-go="/business/generator/update/{{generator.id}}">修改</a></li>
                                    <li><a href="javascript:void(0);" location-go="/business/dynamicModel/manage/{{generator.id}}">数据模型管理</a></li>
                                    <li><a href="javascript:void(0);" location-go="/business/template/manageEdit/{{generator.id}}">模板文件管理</a></li>
                                    <li><a href="javascript:void(0);" location-go="/business/templateStrategy/manage/{{generator.id}}">策略文件管理</a></li>
                                    <li><a href="javascript:void(0);" location-go="/business/generatorInstance/create/{{generator.id}}">新建实例</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="pull-left">
                <pagination class="pagination-sm" boundary-links="true" rotate="false" max-size="10" total-items="pagerResult.total" ng-model="searchRequest.page" ng-change="search();" items-per-page="searchRequest.pageSize" first-text="首页" previous-text="上页" next-text="下页" last-text="尾页"></pagination>
            </div>
            <div class="pull-left">
                <select name="pageSize" ng-change="searchRequest.page=1;search();" ng-model="searchRequest.pageSize" ng-options="pageSize for pageSize in pageSizeList" class="form-control input-sm"></select>
            </div>
            <div class="pull-left form-control-static clearfix">&nbsp;共{{pagerResult.total ? pagerResult.total : 0}}条记录</div>
        </div>
    </div>
</div>