html, body{
    padding: 0;
    margin: 0;
}

#framework-header{

}

#framework-main{
    margin-top: 62.5px;
    /*min-height: 800px;*/
}

#framework-footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
}

#framework-loading{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    background: url(loading.gif) no-repeat center 40%;
}

#framework-tooltip{
    right: 10px;
    position: fixed;
    top: 62.5px;
    z-index: 1051;
}
#framework-tooltip > .alert{
    margin: 0 1px 1px 0;
    padding: 10px 35px 10px 10px;
}

.pagination{
    margin-top: 0;
}

.condensed-list .list-group {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 15px;
}

.condensed-list .list-group-item{
    padding: 2px;
}

.condensed-list .list-group-item label{
    margin-bottom: 3px;
}

.input-group-addon.text-danger{
    color: #a94442;
}

.modal-80-percent{
    width:80%;
}

.hide-col{
    text-decoration: underline;
}

.input-sm{
    padding: 5px 3px;
}

select.input-sm{
    padding: 5px 0;
}