<div class="container-fluid">
    <div ng-controller="templateUpdateController">
        <div class="row">
            <div class="col-sm-12">
                <form name="templateUpdateForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">ID</label>
                        <div class="col-sm-3 form-control-static">{{updateRequest.id}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">名称</span></label>
                        <div class="col-sm-3">
                            <input name="name" uib-tooltip="{{getMessage('name',templateUpdateForm.name.$error,validateMessages)}}"
                                   tooltip-trigger="none" tooltip-is-open="templateUpdateForm.name.$invalid && templateUpdateForm.name.$dirty"
                                   ng-model="updateRequest.name" type="text" class="form-control input-sm" placeholder="名称" ng-maxlength="32" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">代码</label>
                        <div class="col-sm-11 form-control-static"><div style="min-height: 800px;" ace-editor ace-theme="aceTheme" ace-font-size="aceFontSize" ng-model="template.code"></div></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-5">
                            <button type="button" class="btn btn-warning btn-sm" location-back>取消</button>
                            <button type="button" ng-disabled="templateUpdateForm.$invalid || templateUpdateForm.$pristine" class="btn btn-primary btn-sm" ng-click="update()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
