<div ng-controller="templateStrategyDetailController">
    <div class="row">
        <div class="col-sm-12">
            <form name="templateStrategyDetailForm" class="form-inline" role="form" novalidate>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-plus" ng-class="templateStrategy.$closed ? 'glyphicon-plus' : 'glyphicon-minus'" ng-click="templateStrategy.$closed =!templateStrategy.$closed;"></i>
                        <label>策略名称</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="color: #31708f">name</span>
                            <span class="input-group-addon">{{templateStrategy.name}}</span>
                        </div>
                        <ul ng-init="parent=templateStrategy;" ng-include="'recursion'" class="list-group" ng-show="!templateStrategy.$closed && templateStrategy.children.length"></ul>
                    </li>
                </ul>
            </form>
            <br/>
            <form class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5">
                        <button type="button" class="btn btn-warning btn-sm" location-go="/business/templateStrategy/update/{{templateStrategy.id}}">修改</button>
                        <button type="button" class="btn btn-primary btn-sm" location-back="/business/templateStrategy/manage/{{templateStrategy.generator.id}}">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script id="recursion" type="text/ng-template">
    <li class="list-group-item" ng-repeat="child in parent.children" ng-init="formatTag(child);">
        <i class="glyphicon glyphicon-plus" ng-class="child.$closed ? 'glyphicon-plus' : 'glyphicon-minus'" ng-click="child.$closed =! child.$closed;"></i>
        <label>{{child.tagName}}</label>
        <div class="input-group" ng-repeat="attribute in tagRules[child.tagName].attributes" style="margin-right: 5px;">
            <span class="input-group-addon" style="color: #31708f">{{attribute.name}}</span>
            <span class="input-group-addon">{{child[attribute.name]}}</span>
        </div>
        <ul class="list-group" ng-include="'recursion'" ng-show="!child.$closed && child.children.length" ng-init="parent=child;"></ul>
    </li>
</script>