<!DOCTYPE html>
<html>
<head>
    <title>${dataModel.name}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="../library/${global.theme}.min.css">
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-1 control-label">名称</label>
            <div class="col-sm-5 form-control-static">${dataModel.name}</div>
        </div>
#set($groupData = $dynamicModelGroupData.get($dataModel.dynamicModel.id))
#if(!$dataModel.dynamicModel.properties.isEmpty())
#foreach($fromGroup in $groupData.fromGroups)
        <div class="form-group">
            <label class="col-sm-1 control-label">#if($fromGroup.children)$fromGroup.group#else$fromGroup.property.label#end</label>
#if($fromGroup.children)
            <div class="col-sm-11">
                <div class="form-inline">
#foreach($property in $fromGroup.children)
                    <div class="form-group" style="margin-left: 0;margin-right: 0;">
                        <label>$property.label</label>
                        <span class="form-control-static" style="display: inline-block;width:${property.viewWidth}px">#if($property.type == "Boolean")<input onclick="return false;" type="checkbox" #if($dataModel.properties.get($property.name))checked="checked" #else#end/>#elseif($property.type == "Date")#if($dataModel.properties.get($property.name))$date.format("yyyy-MM-dd", $dataModel.properties.get($property.name))#else&nbsp;#end#elseif($property.type == "Model")#if($dataModel.properties.get($property.name))<button type="button" class="btn btn-link btn-xs" onclick="window.parent.window.showTab({id: $dataModel.properties.get($property.name).id,name: '$dataModel.properties.get($property.name).name',icon: '$dataModel.properties.get($property.name).dynamicModel.icon'});">$dataModel.properties.get($property.name).name</button>#else&nbsp;#end#else#if($dataModel.properties.get($property.name))$dataModel.properties.get($property.name)#else&nbsp;#end#end</>
                    </div>
#end
                </div>
            </div>
#end
#if(!$fromGroup.children)
#set($property = $fromGroup.property)
            <div class="col-sm-11 form-control-static">#if($property.type == "Boolean")<input onclick="return false;" type="checkbox" #if($dataModel.properties.get($property.name))checked="checked" #else#end/>#elseif($property.type == "Date")#if($dataModel.properties.get($property.name))$date.format("yyyy-MM-dd", $dataModel.properties.get($property.name))#else&nbsp;#end#elseif($property.type == "Model")#if($dataModel.properties.get($property.name))<button type="button" class="btn btn-link btn-xs" onclick="window.parent.window.showTab({id: $dataModel.properties.get($property.name).id,name: '$dataModel.properties.get($property.name).name',icon: '$dataModel.properties.get($property.name).dynamicModel.icon'});">$dataModel.properties.get($property.name).name</button>#else&nbsp;#end#else#if($dataModel.properties.get($property.name))$dataModel.properties.get($property.name)#else&nbsp;#end#end</div>
#end
        </div>
#end
#end
#if(!$dataModel.dynamicModel.association.isEmpty())
        <div class="form-group">
            <table class="table table-condensed table-hover">
                <thead>
#if(!$groupData.heads.isEmpty())
                <tr class="active">
                    <th width="30" rowspan="2">#</th>
#foreach($headGroup in $groupData.headGroups)
                    <th#if($headGroup.containsKey("span"))#else width="$headGroup.property.viewWidth"#end#if($headGroup.containsKey("span")) colspan="$headGroup.span"#else rowspan="2"#end>#if($headGroup.containsKey("span"))$headGroup.group#else$headGroup.property.label#end</th>
#end
                    <th rowspan="2">&nbsp;</th>
                </tr>
                <tr class="active">
#foreach($association in $groupData.heads)
                    <th width="$!{association.viewWidth}">$association.label</th>
#end
                </tr>
#end
#if($groupData.heads.isEmpty())
                <tr class="active">
                    <th width="30">#</th>
#foreach($association in $dataModel.dynamicModel.association)
                    <th width="$!{association.viewWidth}">$association.label</th>
#end
                    <th>&nbsp;</th>
                </tr>
#end
                </thead>
                <tbody>
#foreach($property in $dataModel.association)
                <tr>
                    <th>$velocityCount</th>
#foreach($association in $dataModel.dynamicModel.association)
#if($association.type == "Boolean")
                    <td><input onclick="return false;" type="checkbox" #if($property.get($association.name)) checked="checked"#else#end/></td>
#elseif($association.type == "Date")
                    <td>#if($property.get($association.name))$date.format("yyyy-MM-dd", $property.get($association.name))#else&nbsp;#end</td>
#elseif($association.type == "Model")
                    <td>#if($property.get($association.name))<button type="button" class="btn btn-link btn-xs" onclick="window.parent.window.showTab({id: $property.get($association.name).id,name: '$property.get($association.name).name',icon: '$property.get($association.name).dynamicModel.icon'});">$property.get($association.name).name</button>#else&nbsp;#end</td>
#else
                    <td>#if($property.get($association.name))$property.get($association.name)#else&nbsp;#end</td>
#end
#end
                    <td>&nbsp;</td>
                </tr>
#end
                </tbody>
            </table>
        </div>
#end
    </form>
</div>
</body>
</html>
