<!DOCTYPE html>
<html>
<head>
    <title>${dataModel.name}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="../library/${global.theme}.min.css">
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-1 control-label">名称</label>
            <div class="col-sm-5 form-control-static">${dataModel.name}</div>
        </div>
#if($dataModel.dynamicModel.properties.size() > 0)
        <div class="form-group">
#foreach($property in $dataModel.dynamicModel.properties)
#set($value = $dataModel.properties.get($property.name))
            <label style="height:40px;" class="col-sm-1 control-label">$property.label</label>
            <div style="height:40px;" class="col-sm-$property.viewWidth.intValue() form-control-static">#if($property.type == "Boolean")<input onclick="return false;" type="checkbox" #if($value)checked="checked" #else#end/>#elseif($property.type == "Date")#if($value)$date.format("yyyy-MM-dd", $value)#else#end#elseif($property.type == "Model")#if($value)<button type="button" class="btn btn-link btn-xs" onclick="window.parent.window.showTab({id: $value.id,name: '$value.name',icon: '$value.dynamicModel.icon'});">$value.name</button>#else#end#else$!value#end</div>
#end
        </div>
#end
#if($dataModel.dynamicModel.association.size() > 0)
        <div class="form-group">
            <table class="table table-condensed table-hover">
                <thead>
                <tr class="active">
                    <th width="30">#</th>
#foreach($association in $dataModel.dynamicModel.association)
                    <th width="$!{association.viewWidth}">$association.label</th>
#end
                    <th></th>
                </tr>
                </thead>
                <tbody>
#foreach($property in $dataModel.association)
                <tr>
                    <th>$velocityCount</th>
#foreach($association in $dataModel.dynamicModel.association)
#if($association.type == "Boolean")
                    <td><input onclick="return false;" type="checkbox" #if($property.get($association.name)) checked="checked"#else#end/></td>
#elseif($association.type == "Date")
                    <td>#if($property.get($association.name))$date.format("yyyy-MM-dd", $property.get($association.name))#else#end</td>
#elseif($association.type == "Model")
                    <td>#if($property.get($association.name))<button type="button" class="btn btn-link btn-xs" onclick="window.parent.window.showTab({id: $property.get($association.name).id,name: '$property.get($association.name).name',icon: '$property.get($association.name).dynamicModel.icon'});">$property.get($association.name).name</button>#else#end</td>
#else
                    <td>#if($property.get($association.name))$property.get($association.name)#else#end</td>
#end
#end
                    <td></td>
                </tr>
#end
                </tbody>
            </table>
        </div>
#end
    </form>
</div>
</body>
</html>
