<div class="container">
    <div ng-controller="guideController">
        <div class="row">
            <div class="col-sm-3" style="position: relative;min-height: 1px;">
                <div style="position: fixed;top:65px;width: 225px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><label>开发手册</label></div>
                        <div class="list-group" >
                            <a href="javascript:void(0)" ng-click="anchorScroll('a1')" class="list-group-item">我的生成器</a>
                            <a href="javascript:void(0)" ng-click="anchorScroll('a2')" class="list-group-item">数据模型</a>
                            <a href="javascript:void(0)" ng-click="anchorScroll('a3')" class="list-group-item">模板文件</a>
                            <a href="javascript:void(0)" ng-click="anchorScroll('a4')" class="list-group-item">策略文件</a>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><label>用户手册</label></div>
                        <div class="list-group" >
                            <a href="javascript:void(0)" ng-click="anchorScroll('a5')" class="list-group-item">他们的生成器</a>
                            <a href="javascript:void(0)" ng-click="anchorScroll('a6')" class="list-group-item">我的实例</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-primary" id="a1">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>我的生成器</label></h3>
                    </div>
                    <div class="panel-body">
                       <p>一个生成器由数据模型、模板文件、策略文件三部分构成。</p>
                    </div>
                </div>
                <div class="panel panel-primary" id="a2">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>数据模型</label></h3>
                    </div>
                    <div class="panel-body">
                        <p>数据模型定义了生成器所需源数据的数据类型结构，每个生成器可定制多个数据模型。</p>
                    </div>
                </div>
                <div class="panel panel-primary" id="a3">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>模板文件</label></h3>
                    </div>
                    <div class="panel-body">
                        <p>模板文件定义了生成代码的模板，采用velocity模板实现。</p>
                        <p>velocity模板所能访问的变量由策略文件TemplateContext标签定义。</p>
                        <table class="table table-bordered table-condensed table-hover">
                            <caption>velocity模板内置变量 <a target="_blank" href="http://velocity.apache.org/tools/releases/2.0/generic.html">API文档</a></caption>
                            <thead>
                                <tr class="active">
                                    <th class="col-sm-4">变量名</th>
                                    <th>变量说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td><code>alternator</code></td><td></td></tr>
                                <tr><td><code>class</code></td><td></td></tr>
                                <tr><td><code>context</code></td><td></td></tr>
                                <tr><td><code>conversion</code></td><td></td></tr>
                                <tr><td><code>date</code></td><td>对Date操作：格式化、比较等</td></tr>
                                <tr><td><code>display</code></td><td></td></tr>
                                <tr><td><code>escape</code></td><td>对template进行escaping</td></tr>
                                <tr><td><code>field</code></td><td></td></tr>
                                <tr><td><code>loop</code></td><td>更好地控制 #foreach loop</td></tr>
                                <tr><td><code>link</code></td><td></td></tr>
                                <tr><td><code>list</code></td><td>透明地处理array和list</td></tr>
                                <tr><td><code>math</code></td><td>数学运算</td></tr>
                                <tr><td><code>number</code></td><td>对数字格式化和convert</td></tr>
                                <tr><td><code>render</code></td><td>对VTL的字符串执行 eval</td></tr>
                                <tr><td><code>resource</code></td><td>国际化支持</td></tr>
                                <tr><td><code>sort</code></td><td>对collections array iterator进行排序</td></tr>
                                <tr><td><code>xml</code></td><td>对xml文件读取，需要dom4j的支持</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-primary" id="a4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>策略文件</label></h3>
                    </div>
                    <div class="panel-body">
                        <p>策略文件定义了代码生成和文件生成的规则。</p>
                        <p>代码生成策略定义了一组标签，采用EL表达式访问变量。</p>
                        <p>内置变量data（类型DataModel）和global（类型Global）。</p>
                        <pre>
DataModel {
    //数据对象的名称
    String name

    //上级
    DataModel parent

    //子级
    List&lt;DataModel> children

    //由数据模型设定的普通属性
    Map&lt;String,Object> properties

    //由数据模型设定的级联属性
    List&lt;Map&lt;String,Object>> association

    //定义该DataModel的properties属性和association属性的模型
    DynamicModel dynamicModel
}

Global {
    //生成号
    Long generateId

    //当前用户
    User user

    //所属生成器
    Generator generator

    //所属生成器实例
    GeneratorInstance generatorInstance

    //生成策略
    TemplateStrategy templateStrategy
}
                        </pre>
                        <table class="table table-bordered table-condensed table-hover">
                            <caption>内置函数</caption>
                            <thead>
                            <tr class="active">
                                <th class="col-sm-3">函数名</th>
                                <th class="col-sm-4">函数说明</th>
                                <th>使用举例</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span><code>fn:contains</code></span></td>
                                    <td><span>判断字符串是否包含另外一个字符串</span></td>
                                    <td><span>${fn:contains(name, searchString)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:containsIgnoreCase</code></span></td>
                                    <td><span>判断字符串是否包含另外一个字符串(大小写无关)</span></td>
                                    <td><span>${fn:containsIgnoreCase(name, searchString)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:endsWith</code></span></td>
                                    <td><span>判断字符串是否以另外字符串结束</span></td>
                                    <td><span>${fn:endsWith(filename, ".txt")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:escapeXml</code></span></td>
                                    <td><span>把一些字符转成XML表示，例如&lt;字符应该转为&amp;lt;</span></td>
                                    <td><span>${fn:escapeXml(param:info)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:indexOf</code></span></td>
                                    <td><span>子字符串在母字符串中出现的位置</span></td>
                                    <td><span>${fn:indexOf(name, "-")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:join</code></span></td>
                                    <td><span>将数组中的数据联合成一个新字符串，并使用指定字符格开</span></td>
                                    <td><span>${fn:join(array, ";")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:length</code></span></td>
                                    <td><span>获取字符串的长度，或者数组的大小</span></td>
                                    <td><span>${fn:length(shoppingCart.products)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:replace</code></span></td>
                                    <td><span>替换字符串中指定的字符</span></td>
                                    <td><span>${fn:replace(text, "-", "&amp;#149;")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:split</code></span></td>
                                    <td><span>把字符串按照指定字符切分</span></td>
                                    <td><span>${fn:split(customerNames, ";")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:startsWith</code></span></td>
                                    <td><span>判断字符串是否以某个子串开始</span></td>
                                    <td><span>${fn:startsWith(product.id, "100-")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:substring</code></span></td>
                                    <td><span>获取子串</span></td>
                                    <td><span>${fn:substring(zip, 6, -1)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:substringAfter</code></span></td>
                                    <td>
                                        <p><span>获取从某个字符所在位置开始的子串</span></p>
                                    </td>
                                    <td><span>${fn:substringAfter(zip, "-")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:substringBefore</code></span></td>
                                    <td><span>获取从开始到某个字符所在位置的子串</span></td>
                                    <td><span>${fn:substringBefore(zip, "-")}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:toLowerCase</code></span></td>
                                    <td><span>转为小写</span></td>
                                    <td><span>${fn.toLowerCase(product.name)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:toUpperCase</code></span></td>
                                    <td><span>转为大写字符</span></td>
                                    <td><span>${fn.toUpperCase(product.name)}</span></td>
                                </tr>
                                <tr>
                                    <td><span><code>fn:trim</code></span></td>
                                    <td><span>去除字符串前后的空格</span></td>
                                    <td><span>${fn.trim(name)}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-primary" id="a5">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>他们的生成器</label></h3>
                    </div>
                    <div class="panel-body">
                       <p>由开发者制定好的生成器。</p>
                    </div>
                </div>
                <div class="panel panel-primary" id="a6">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>我的实例</label></h3>
                    </div>
                    <div class="panel-body">
                        <p>每个生成器可以有多个实例，一个实例一份数据。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>