<div class="container">
    <div ng-controller="homeController">
        <div class="row">
            <div class="col-sm-8">
                <div class="page-header">
                    <h1>Welcome to BlackDream!</h1>
                </div>
                <div class="page-header">
                    <div class="jumbotron">
                        <p>BlackDream是一款源代码生成器构建框架，用于快速构建一款源代码生成器来生成目标代码，从而提升项目开发效率。</p>
                        <br/>
                        <p>核心设计：多生成器，多用户，多实例。</p>
                        <br/>
                        <p>快速构建：几分钟即可定制一款简单的代码生成器。</p>
                    </div>
                </div>
                <div class="page-header">
                    <p>当前版本：1.0.0</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default" ng-if="!!generatorInstances.length || !!generators.length">
                    <div class="panel-body">
                        <tabset ng-if="!!generatorInstances.length || !!generators.length">
                            <tab active="true" ng-if="!!generatorInstances.length" heading="我的实例">
                                <div class="list-group">
                                    <a ng-repeat="generatorInstance in generatorInstances" href="javascript:void(0);" class="list-group-item" location-go="/business/generatorInstance/detail/{{generatorInstance.id}}">
                                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{generatorInstance.name}}
                                    </a>
                                </div>
                            </tab>
                            <tab ng-if="!!generators.length" heading="我的生成器">
                                <div class="list-group">
                                    <a ng-repeat="generator in generators" href="javascript:void(0);" class="list-group-item" location-go="/business/generator/detail/{{generator.id}}">
                                        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> {{generator.name}}
                                    </a>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>