<div class="container">
    <div ng-controller="homeController">
        <div class="row">
            <div class="col-sm-8">
                <div class="page-header">
                    <h1 class="text-info">Welcome to BlackDream!</h1>
                </div>
                <div class="page-header">
                    <div class="jumbotron">
                        <p>BlackDream是一款源代码生成器构建框架，用于快速构建一款源代码生成器来生成目标代码，从而提升项目开发效率。</p>
                        <br/>
                        <p>核心设计：多生成器，多用户，多实例。</p>
                        <br/>
                        <p>快速构建：几分钟即可定制一款简单的代码生成器。</p>
                        <p class="text-right"><a href="javascript:void(0);" location-go="/guide"><strong>快速指南</strong></a></p>
                    </div>
                </div>
                <div class="page-header">
                    <p class="text-primary"><a href="javascript:void(0);" ng-click="openAboutModal()"><strong>当前版本：1.0.0</strong></a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default" ng-if="!!generatorInstances.length">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>我的实例</label></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header" style="margin: 5px;" ng-repeat="generatorInstance in generatorInstances">
                            <a href="javascript:void(0);" location-go="/business/generatorInstance/detail/{{generatorInstance.id}}">
                                <strong class="text-info">{{generatorInstance.name}}</strong>
                            </a>
                        </div>
                        <button type="button" class="btn btn-link btn-sm" location-go="/business/generatorInstance/manage"><strong>更多</strong></button>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="!!generators.length">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>我的生成器</label></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header" style="margin: 5px;" ng-repeat="generator in generators">
                            <a href="javascript:void(0);" location-go="/business/generator/detail/{{generator.id}}">
                                <strong class="text-info">{{generator.name}}</strong>
                            </a>
                        </div>
                        <button type="button" class="btn btn-link btn-sm" location-go="/business/generator/manage"><strong>更多</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>