<div class="container">
    <div ng-controller="dynamicModelManageController">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm"location-back="/business/generator/manage">返回</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm"location-go="/business/dynamicModel/create/{{searchRequest.generatorId}}">新建数据模型</button>
                    </div>
                </form>
                <br/>
                <!--
                <form class="form-inline">
                    <div class="form-group">
                        <label>名称：</label>
                        <input name="name" type="text" class="form-control input-sm" ng-model="searchRequest.name" placeholder="名称"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary input-sm" ng-click="searchRequest.page=1;search();">搜索</button>
                    </div>
                </form>
                <br/>
                -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr class="active">
                        <th width="25">#</th>
                        <th width="200">名称</th>
                        <th width="100">图标</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dynamicModel in pagerResult.records track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{dynamicModel.name}}</td>
                        <td><span class="glyphicon glyphicon-{{dynamicModel.icon}}"></span></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs" location-go="/business/dynamicModel/detail/{{dynamicModel.id}}">详情</button>
                                <button type="button" class="btn btn-primary btn-xs" location-go="/business/dynamicModel/update/{{dynamicModel.id}}">修改</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="pull-left">
                <uib-pagination class="pagination-sm" boundary-links="true" rotate="false" max-size="10" total-items="pagerResult.total" ng-model="searchRequest.page" ng-change="search();" items-per-page="searchRequest.pageSize" first-text="首页" previous-text="上页" next-text="下页" last-text="尾页"></uib-pagination>
            </div>
            <div class="pull-left">
                &nbsp;
                <ul class="pagination pagination-sm">
                    <li ng-class="{'active': searchRequest.pageSize==pageSize}" ng-repeat="pageSize in pageSizeList track by $index" ><a href="javascript:void(0);" ng-click="searchRequest.pageSize=pageSize;searchRequest.page=1;search();">{{pageSize}}</a></li>
                </ul>
            </div>
            <div class="pull-left form-control-static clearfix">&nbsp;共&nbsp;{{pagerResult.total ? pagerResult.total : 0}}&nbsp;条</div>
        </div>
    </div>
</div>