<div class="container">
    <div ng-controller="dynamicModelUpdateController">
        <div class="row">
            <div class="col-sm-12">
                <form name="dynamicModelUpdateForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">ID</label>
                        <div class="col-sm-3 form-control-static">{{updateRequest.id}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">名称</span></label>
                        <div class="col-sm-3">
                            <input name="name" uib-tooltip="{{getMessage('name',dynamicModelUpdateForm.name.$error,validateMessages)}}"
                                   tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.name.$invalid && dynamicModelUpdateForm.name.$dirty"
                                   ng-model="updateRequest.name" type="text" class="form-control input-sm" placeholder="名称" ng-maxlength="20" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="text-danger">图标</span></label>
                        <div class="col-sm-3">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span ng-if="!iconControl.selectedItem">选择图标</span>
                                    <span ng-if="iconControl.selectedItem" class="glyphicon glyphicon-{{iconControl.selectedItem}}"></span>
                                </button>
                                <ul class="dropdown-menu" style="width:575px;">
                                    <li>
                                        <div class="clearfix">
                                            <div ng-repeat="icon in iconControl.icons" style="float: left;font-size: 20px;margin: 5px;cursor: pointer;">
                                                <span ng-click="iconControl.select(icon);" class="glyphicon glyphicon-{{icon}}"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="alert alert-danger" ng-show="dynamicModelUpdateForm.icon.$invalid && dynamicModelUpdateForm.icon.$dirty">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">顶级模型</label>
                        <div class="col-sm-3">
                            <input name="isRootChild" ng-model="updateRequest.isRootChild" type="checkbox" class="input-sm" ng-true-value="true" ng-false-value="false"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">子级模型</label>
                        <div class="col-sm-11">
                            <label class="checkbox-inline" ng-repeat="child in childrenControl.children track by $index">
                                <input type="checkbox" ng-model="child.$checked" ng-true-value="{{true}}" ng-false-value="{{false}}">{{child.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">普通属性</label>
                        <div class="col-sm-11">
                            <table class="table table-condensed table-hover">
                                <caption><button type="button" class="btn btn-success btn-sm" ng-click="propertiesControl.add();">添加</button></caption>
                                <thead>
                                <tr class="active">
                                    <th width="30">#</th>
                                    <th width="125"><span class="text-danger">标题</span></th>
                                    <th width="80"><span class="text-danger">宽比</span></th>
                                    <th width="150"><span class="text-danger">名称</span></th>
                                    <th width="100"><span class="text-danger">类型</span></th>
                                    <th width="125">默认值</th>
                                    <th width="150">可选值</th>
                                    <th width="100">级联脚本</th>
                                    <th width="100">验证规则</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="propertiesControl.sortableOptions" ng-model="updateRequest.properties">
                                <tr ng-repeat="property in updateRequest.properties" ng-init="property.__hashKey = hashKey(property)">
                                    <th>{{$index + 1}}</th>
                                    <td>
                                        <input name="label{{property.__hashKey}}" uib-tooltip="{{getMessage('label',dynamicModelUpdateForm['label' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.label{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.label{{property.__hashKey}}.$dirty"
                                               ng-model="property.label" type="text" class="form-control input-sm" ng-maxlength="10" required/>
                                    </td>
                                    <td>
                                        <input name="viewWidth{{property.__hashKey}}" uib-tooltip="{{getMessage('viewWidth1',dynamicModelUpdateForm['viewWidth' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.viewWidth{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.viewWidth{{property.__hashKey}}.$dirty"
                                               ng-model="property.viewWidth" type="number" class="form-control input-sm" ng-pattern="/^(1|2|3|4|5|6|7|8|9|10|11)$/" required/>
                                    </td>
                                    <td>
                                        <input name="name{{property.__hashKey}}" uib-tooltip="{{getMessage('name',dynamicModelUpdateForm['name' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.name{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.name{{property.__hashKey}}.$dirty"
                                               ng-model="property.name" type="text" class="form-control input-sm" ng-pattern="/^[a-zA-Z_]\w{0,19}$/" required/>
                                    </td>
                                    <td>
                                        <select name="type{{property.__hashKey}}" uib-tooltip="{{getMessage('type',dynamicModelUpdateForm['type' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                                tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.type{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.type{{property.__hashKey}}.$dirty"
                                                ng-change="propertyControl.changeType(property)" ng-model="property.type" ng-options="option.type as option.type for option in propertyControl.typeOptions"
                                                class="form-control input-sm" required>
                                            <option value="">--选择--</option>
                                        </select>
                                    </td>
                                    <td ng-switch="property.type">
                                        <select ng-switch-when="Boolean" ng-model="property.defaultValue" ng-options="option for option in [true,false]" class="form-control input-sm">
                                            <option value="">--选择--</option>
                                        </select>
                                        <input ng-switch-when="Long" ng-model="property.defaultValue" type="number" class="form-control input-sm"/>
                                        <input ng-switch-when="Double" ng-model="property.defaultValue" type="number" class="form-control input-sm"/>
                                        <input ng-switch-when="String" ng-model="property.defaultValue" type="text" class="form-control input-sm"/>
                                        <input ng-switch-when="Date" ng-model="property.defaultValue" readonly="readonly" type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" is-open="opened" ng-click="opened = !opened" close-text="关闭" current-text="今天"  clear-text="清除"/>
                                        <select ng-switch-when="Enum" ng-model="property.defaultValue" ng-options="option for option in property.optionalValues" class="form-control input-sm">
                                            <option value="">--选择--</option>
                                        </select>
                                        <input ng-switch-when="Model" ng-model="property.defaultValue" disabled="disabled" type="text" class="form-control input-sm"/>
                                    </td>
                                    <td>
                                        <div class="input-group" ng-if="'Enum'==property.type">
                                            <input type="text" class="form-control input-sm" ng-model="property.optionalValue" ng-keyup="propertyControl.addOptionalValue(property, $event)">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-repeat="optionalValue in property.optionalValues track by $index">
                                                        <a href="javascript:void(0)">{{optionalValue}}&nbsp;&nbsp;<i class="glyphicon glyphicon-remove" ng-click="propertyControl.removeOptionalValue(property, $index)"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">编写脚本 <span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="width:250px;">
                                                <li>
                                                    <textarea style="width: 230px;margin-left: 10px; height:300px;" ng-model="property.cascadeScript" placeholder="内置变量property"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置规则 <span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="width:250px;">
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">必输</span>&nbsp;
                                                            <input type="checkbox" ng-model="property.validator.required"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].min">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最小</span>
                                                            <input ng-model="property.validator.min" type="number" class="form-control input-sm"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].max">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最大</span>
                                                            <input ng-model="property.validator.max" type="number" class="form-control input-sm"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].minlength">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最短</span>
                                                            <input ng-model="property.validator.minlength" type="number" class="form-control input-sm"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].maxlength">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最长</span>
                                                            <input ng-model="property.validator.maxlength" type="number" class="form-control input-sm"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].pattern">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">正则</span>
                                                            <input ng-model="property.validator.pattern" type="text" class="form-control input-sm"/>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="propertiesControl.delete(property, $index)">删除</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">级联属性</label>
                        <div class="col-sm-11">
                            <table class="table table-condensed table-hover">
                                <caption><button type="button" class="btn btn-success btn-sm" ng-click="associationControl.add();">添加</button></caption>
                                <thead>
                                <tr class="active">
                                    <th width="30">#</th>
                                    <th width="125"><span class="text-danger">标题</span></th>
                                    <th width="80"><span class="text-danger">宽度</span></th>
                                    <th width="150"><span class="text-danger">名称</span></th>
                                    <th width="100"><span class="text-danger">类型</span></th>
                                    <th width="125">默认值</th>
                                    <th width="150">可选值</th>
                                    <th width="100">级联脚本</th>
                                    <th width="100">验证规则</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="associationControl.sortableOptions" ng-model="updateRequest.association">
                                <tr ng-repeat="property in updateRequest.association" ng-init="property.__hashKey = hashKey(property)">
                                    <th>{{$index + 1}}</th>
                                    <td>
                                        <input name="label{{property.__hashKey}}" uib-tooltip="{{getMessage('label',dynamicModelUpdateForm['label' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.label{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.label{{property.__hashKey}}.$dirty"
                                               ng-model="property.label" type="text" class="form-control input-sm" ng-maxlength="10" required/>
                                    </td>
                                    <td>
                                        <input name="viewWidth{{property.__hashKey}}" uib-tooltip="{{getMessage('viewWidth',dynamicModelUpdateForm['viewWidth' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.viewWidth{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.viewWidth{{property.__hashKey}}.$dirty"
                                               ng-model="property.viewWidth" type="number" class="form-control input-sm" min="0" max="1000" required/>
                                    </td>
                                    <td>
                                        <input name="name{{property.__hashKey}}" uib-tooltip="{{getMessage('name',dynamicModelUpdateForm['name' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.name{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.name{{property.__hashKey}}.$dirty"
                                               ng-model="property.name" type="text" class="form-control input-sm" ng-pattern="/^[a-zA-Z_]\w{0,19}$/" required/>
                                    </td>
                                    <td>
                                        <select name="type{{property.__hashKey}}" uib-tooltip="{{getMessage('type',dynamicModelUpdateForm['type' + property.__hashKey].$error,propertyControl.validateMessages)}}"
                                                tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.type{{property.__hashKey}}.$invalid && dynamicModelUpdateForm.type{{property.__hashKey}}.$dirty"
                                                ng-change="propertyControl.changeType(property)" ng-model="property.type" ng-options="option.type as option.type for option in propertyControl.typeOptions"
                                                class="form-control input-sm" required>
                                            <option value="">--选择--</option>
                                        </select>
                                    </td>
                                    <td ng-switch="property.type">
                                        <select ng-switch-when="Boolean" ng-model="property.defaultValue" ng-options="option for option in [true,false]" class="form-control input-sm">
                                            <option value="">--选择--</option>
                                        </select>
                                        <input ng-switch-when="Long" ng-model="property.defaultValue" type="number" class="form-control input-sm"/>
                                        <input ng-switch-when="Double" ng-model="property.defaultValue" type="number" class="form-control input-sm"/>
                                        <input ng-switch-when="String" ng-model="property.defaultValue" type="text" class="form-control input-sm"/>
                                        <input ng-switch-when="Date" ng-model="property.defaultValue" readonly="readonly" type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" is-open="opened" ng-click="opened = !opened" close-text="关闭" current-text="今天"  clear-text="清除"/>
                                        <select ng-switch-when="Enum" ng-model="property.defaultValue" ng-options="option for option in property.optionalValues" class="form-control input-sm">
                                            <option value="">--选择--</option>
                                        </select>
                                        <input ng-switch-when="Model" ng-model="property.defaultValue" disabled="disabled" type="text" class="form-control input-sm"/>
                                    </td>
                                    <td>
                                        <div class="input-group" ng-if="'Enum'==property.type">
                                            <input type="text" class="form-control input-sm" ng-model="property.optionalValue" ng-keyup="propertyControl.addOptionalValue(property, $event)">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-repeat="optionalValue in property.optionalValues track by $index">
                                                        <a href="javascript:void(0)">{{optionalValue}}&nbsp;&nbsp;<i class="glyphicon glyphicon-remove" ng-click="propertyControl.removeOptionalValue(property, $index)"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">编写脚本 <span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="width:250px;">
                                                <li>
                                                    <textarea style="width: 230px;margin-left: 10px; height:300px;" ng-model="property.cascadeScript" placeholder="内置变量property"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置规则 <span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="width:250px;">
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">必输</span>&nbsp;
                                                            <input type="checkbox" ng-model="property.validator.required" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].min">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最小</span>
                                                            <input ng-model="property.validator.min" type="number" class="form-control input-sm" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].max">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最大</span>
                                                            <input ng-model="property.validator.max" type="number" class="form-control input-sm" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].minlength">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最短</span>
                                                            <input ng-model="property.validator.minlength" type="number" class="form-control input-sm" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].maxlength">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">最长</span>
                                                            <input ng-model="property.validator.maxlength" type="number" class="form-control input-sm" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li ng-if="propertyControl.validatorRules[property.type].pattern">
                                                    <a href="javascript:void(0)">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">正则</span>
                                                            <input ng-model="property.validator.pattern" type="text" class="form-control input-sm" ng-change="resetMessage()"/>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="associationControl.delete(property, $index)">删除</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-condensed table-hover">
                                <caption><label class="col-sm-1">预设属性</label> <button type="button" class="btn btn-success btn-sm" ng-click="predefinedAssociationControl.add();">添加</button></caption>
                                <thead>
                                <tr class="active">
                                    <th width="30">#</th>
                                    <th width="{{property.viewWidth}}" ng-repeat="property in updateRequest.association">
                                        <span ng-class="{'text-danger': property.validator.required}">{{property.label}}</span>
                                    </th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="predefinedAssociationControl.sortableOptions" ng-model="updateRequest.predefinedAssociation">
                                <tr ng-repeat="propertyValue in updateRequest.predefinedAssociation">
                                    <th>{{$index + 1}}</th>
                                    <td align="center" ng-repeat="property in updateRequest.association" ng-switch="property.type" ng-init="propertyValue.__hashKey = hashKey(propertyValue)">
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="Boolean" ng-model="propertyValue[property.name]" type="checkbox" ng-true-value="true" ng-false-value="false"/>
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="Long" ng-model="propertyValue[property.name]" type="number" class="form-control input-sm"
                                               min="{{property.validator.min}}" max="{{property.validator.max}}" ng-minlength="property.validator.minlength" ng-maxlength="property.validator.maxlength" ng-pattern="property.validator.pattern" ng-required="property.validator.required"/>
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="Double" ng-model="propertyValue[property.name]" type="number" class="form-control input-sm"
                                               min="{{property.validator.min}}" max="{{property.validator.max}}" ng-minlength="property.validator.minlength" ng-maxlength="property.validator.maxlength" ng-pattern="property.validator.pattern" ng-required="property.validator.required"/>
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="String" ng-model="propertyValue[property.name]" type="text" class="form-control input-sm"
                                               ng-minlength="property.validator.minlength" ng-maxlength="property.validator.maxlength" ng-pattern="property.validator.pattern" ng-required="property.validator.required"/>
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="Date" ng-model="propertyValue[property.name]" type="text" readonly="readonly" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" is-open="opened" ng-click="opened = !opened" close-text="关闭" current-text="今天"  clear-text="清除"
                                               ng-required="property.validator.required"/>
                                        <select name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                                tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                                ng-switch-when="Enum" ng-model="propertyValue[property.name]" ng-options="option for option in property.optionalValues" class="form-control input-sm"
                                                ng-required="property.validator.required">
                                            <option value="">--选择--</option>
                                        </select>
                                        <input name="$association${{property.name + propertyValue.__hashKey}}" uib-tooltip="{{getMessage(property.name,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey].$error,associationMessages)}}"
                                               tooltip-trigger="none" tooltip-is-open="dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$invalid && dynamicModelUpdateForm.$association${{property.name + propertyValue.__hashKey}}.$dirty"
                                               ng-switch-when="Model" ng-model="propertyValue[property.name].name" readonly="readonly" type="text" class="form-control input-sm" ng-click="dataModelPickerModalOpen(dataModel,propertyValue,property.name,property.label,dynamicModelUpdateForm['$association$' + property.name + propertyValue.__hashKey]);"
                                               ng-required="property.validator.required"/>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="predefinedAssociationControl.delete(propertyValue, $index)">删除</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-5">
                            <button type="button" class="btn btn-warning btn-sm" location-back="/business/dynamicModel/manage/{{updateRequest.generator.id}}">取消</button>
                            <button type="button" ng-disabled="dynamicModelUpdateForm.$invalid || dynamicModelUpdateForm.$pristine || iconControl.$error" class="btn btn-primary btn-sm" ng-click="update()">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
